{{ define "main" }}

<div id="wrapper">
    <section class="main style1">
        <div>
            <section class="main style1">
                <header class="small">
                    <h1>{{ .Title }}</h1>
                    <p>{{ .Params.subtitle }}</p>
                </header>

                {{ with .Params.banner }}
                <div class="image filtered" data-position="center">
                    <img src="{{ . }}" alt="{{ $.Title }}" />
                </div>
                {{ end }}
            </section>
        </div>
        <div class="inner">
            {{.Content}}
            {{ partial "actions" .Params.actions }}
        </div>
    </section>
</div>

{{ end }}