{{ define "main" }}

<div id="wrapper">
    <div id="modal"></div>
    <section class="banner">
      <div class="image" data-position="right"><img src="https://anrabhartaglas.ie/img/banner.jpg" alt="" /></div>
      <div class="content">
        <h1 style="white-space:pre">{{ .Params.bannerheading }}</h1>
        <h3 class="tagline">{{ .Params.bannersubheading }}</h3>
        {{ with .Params.banneractions }}
        <ul class="actions special">
          {{ range $.Params.banneractions }}
          <li><a href="{{ .link }}" class="button next">{{ .action }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </section>
    <section class="main style1">
      <div>
        <section class="main style1">
          <header class="small">
            <h1>{{ .Params.heading }}</h1>
            {{ .Content }}
          </header>

          {{ with .Params.image }}
          <div class="image" data-position="center">
            <img src="{{ . }}" alt="{{ $.Params.heading }}" />
          </div>
          {{ end }}

        </section>
      </div>
      {{ with .Params.actions }}
      <div class="inner">
        <ul class="actions special">
          {{ range $.Params.actions }}
          <li><a href="{{ .link }}" class="button next">{{ .action }}</a></li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </section>
    {{/*  {{ range .Pages }}
      {{ if strings.Contains .File.Path "/people/_index.md" }}
      <section class="main style1">
        <header class="small">
            <h2>{{ .Title }}</h2>
            {{.Content}}
        </header>
      {{ end }}
    {{ end }}  */}}
  </div>

{{ end }}

