<div class="mainWrapper">
    <section class="main style2">
        <footer>
            <ul class="icons">
                <li><a target="_blank" rel="noopener" href="https://www.instagram.com/anrabhartaglas/" class="icon brands alt fa-instagram"><span class="label">{{ T "instagram_footer_link_text" }}</span></a></li>
                <li><a target="_blank" rel="noopener" href="https://twitter.com/anrabhartaglas" class="icon brands alt fa-twitter"><span class="label">{{ T "twitter_footer_link_text" }}</span></a></li>
                <li><a target="_blank" rel="noopener" href="https://www.facebook.com/anrabhartaglas" class="icon brands alt fa-facebook-f"><span class="label">{{ T "facebook_footer_link_text" }}</span></a></li>
                <li><a target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCN4fAvdRIvibmzcBZfCJx4A" class="icon brands alt fa-youtube"><span class="label">{{ T "youtube_footer_link_text" }}</span></a></li>
                <li><a target="_blank" rel="noopener" href="https://www.tiktok.com/@anrabhartaglas" class="icon brands alt fa-tiktok"><span class="label">{{ T "tiktok_footer_link_text" }}</span></a></li>
                <li><a href="/contact-us/" class="icon solid alt fa-envelope"><span class="label">{{ T "email_footer_link_text" }}</span></a></li>
            </ul>
        </footer>
    </section>
</div>
<footer id="footer">
    <ul class="footer-links">
        <li><a id="privacy-settings" href="#privacy-settings">{{ T "privacy_settings_link_text" }}</a></li>
        <li><a href="/files/arg-gl_data_protection_notice.pdf" target="_blank">{{ T "privacy_policy_link_text" }}</a></li>
        <li><a href="/contact-us/child-protection-officer/">{{ T "child_protection_link_text" }}</a></li>
    </ul>
    <div class="copyright">{{ .Site.Copyright | markdownify }}</div>
</footer>
