<div class="mainWrapper">
    <section class="main style2">
        <footer>
            <ul class="icons">
                <li><a target="_blank" rel="noopener" href="https://www.instagram.com/anrabhartaglas/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a target="_blank" rel="noopener" href="https://twitter.com/anrabhartaglas" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a target="_blank" rel="noopener" href="https://www.facebook.com/anrabhartaglas" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCN4fAvdRIvibmzcBZfCJx4A" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
                <li><a target="_blank" rel="noopener" href="https://www.tiktok.com/@anrabhartaglas" class="icon brands alt fa-tiktok"><span class="label">TikTok</span></a></li>
                <li><a href="/contact-us/" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>
</div>
<footer id="footer">
    <ul class="footer-links">
        <li><a id="privacy-settings" href="#privacy-settings">Privacy Settings</a></li>
        <li><a href="/files/arg-gl_data_protection_notice.pdf" target="_blank">Privacy Policy</a></li>
        <li><a href="/contact-us/child-protection-officer/">Child Protection Officer</a></li>
    </ul>
    <div class="copyright">{{ .Site.Copyright | markdownify }}</div>
</footer>

{{/*  <div>
    {{- range .Site.Languages -}}
    {{ if ne .LanguageName $.Site.Language.LanguageName }}
    <li><a href="/{{ .Lang }}">{{ .LanguageName }}</a></li>
    {{ end }}
    {{- end -}}
</div>  */}}