{{ $currentPage := . }}

<header id="header">
    <div class="headerWrapper">
        <div class="logo">
            <a class="site-title" href='{{ relLangURL "/" }}'>
                <img src="/theme/images/rabharta-logo.svg" alt="Site Logo" title="{{ .Site.Title }}" />
            </a>
        </div>

        <nav id="nav" class="site-nav">
            <ul class="main-nav">
                {{ range .Site.Menus.main }}
                <li>
                    {{ $hasHardcodedChildren := .HasChildren }}
                    {{ $isIndexPageWithChildren := and .Page .Page.Pages }}
                    {{ $hasChildren := or $hasHardcodedChildren $isIndexPageWithChildren }}

                    {{ if not $hasChildren }}
                        <a href="{{ .URL }}">{{ or (T .Identifier) .Name | safeHTML }}</a>
                    {{ else }}

                        <a class="icon solid fa-angle-down" href="{{ .URL }}">{{ .Name }}</a>

                        {{ if $hasHardcodedChildren }}
                            {{/* Render hardcoded children of index page */}}
                            {{ with .Children }}
                            <ul>
                                {{ range . }}
                                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                                {{ end}}
                            </ul>
                            {{ end }}
                        {{ else if $isIndexPageWithChildren}}
                            {{/* Render children of index page */}}
                            {{ with .Page.Pages }}
                            <ul>
                                {{ range . }}
                                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                                {{ end }}
                            </ul>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </li>
                {{ end }}

                {{/*  {{ TODO: Put this selector somewhere other than main nav }}  */}}
                {{/*  {{ if $.IsTranslated }}
                {{ range $.Translations }}
                    <li><a class="icon solid" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                {{ end }}
                {{ end }}  */}}
            </ul>
        </nav>
    </div>
</header>