{{ $currentPage := . }}

<header id="header">
    <div class="headerWrapper">
        <div class="logo">
            <a class="site-title" href="{{ relLangURL "/" }}">
                <img src="/theme/images/an-rabharta-glas-logo.svg" alt="Site Logo" title="{{ .Site.Title }}" />
            </a>
        </div>

        <nav id="nav" class="site-nav">
            <ul class="main-nav">
                {{ range .Site.Menus.main }}
                <li>
                    {{ if .Children }}
                        <a class="icon solid fa-angle-down" href="{{ .URL }}">{{ .Name }}</a>
                    {{ else }}
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    {{ end }}

                    {{ with .Children }}
                    <ul>
                        {{ range . }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end}}
                    </ul>
                    {{ end}}
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</header>