<div class="inner">
    <div class="posts">
        {{ range .Paginator.Pages }}
        <article>
            <a href="{{ .RelPermalink }}" class="image">
                <img src="{{ .Params.photo }}" alt="{{ .Params.name }}" />
            </a>
            <h3>{{ .Title }}</h3>
            <p>{{ .Summary }}</p>
            <ul class="actions special ">
                <li><a href="{{ .RelPermalink }}" class="button small next">Find out more</a></li>
            </ul>
        </article>
        {{ end }}
    </div>
</div>
